<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Menu
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
  <% if user_signed_in? %>
    <li>
      <%= link_to('Logout', destroy_user_session_path) %>
      <%= link_to('Edit registration', edit_user_registration_path) %>
    </li>
  <% else %>
    <li>
      <%= link_to('Login', new_user_session_path)  %>
      <%= link_to('Register', new_user_registration_path)  %>
    </li>
  <% end %>
  </ul>
</div>
